In [6]:
import pandas as pd

In [ ]:
f = open('data.json' , 'r')
df = pd.("data.json")  

print(df)

AttributeError: module 'pandas' has no attribute 'loads'

In [8]:
df.head()

                                              result message
0  {'date': '27/03/2020', 'value': 1195, 'min': 1...  200 OK
1  {'date': '30/03/2020', 'value': 1148, 'min': 1...  200 OK
2  {'date': '31/03/2020', 'value': 1104, 'min': 1...  200 OK
3  {'date': '01/04/2020', 'value': 1100, 'min': 1...  200 OK
4  {'date': '02/04/2020', 'value': 1096, 'min': 1...  200 OK